
.container {
	max-width: 570px;
	min-width:400px;
}


input {
	display: block !important; 
	padding: 0 !important; 
	margin: 0 !important; 
	width: 100% !important; 
	height: 100% !important;
	border-radius: 0 !important; 
	line-height: 1 !important;
	min-height: 25px;
	/*border-color: blue !important;*/
	/*background-color: #f7e96f !important;*/
}


td {
	margin: 0 !important; 
	padding: 0 !important;
	height: 25px;
	/*border-color: black !important;*/
}

#delButt {
	display: inline-block !important; 
	padding: 2px !important; 
	margin: 1 auto !important; 
	width: 50% !important; 
	border-radius: 0 !important; 
	line-height: 1 !important;
	min-height: 25px;
	text-color: red;
	
}

.table {
	max-width: 570px;
	min-width: 450px;
	border-collapse: collapse;
	border-color: black !important;
}

.container {
	margin-left: 10px;
	margin-right: 10px;

}

th, td, input {
	text-align: center;
	padding: 1px;
	/*border-color: black !important;*/
}

th {
	padding: 1px !important;
	background-color: #d1d0c8;
}

.numEnt {
	max-width: 60px;
	min-width: 50px;
}

#buttText {
	color: red;
}

button {
	margin: 1px;
}

select {
	/*background-color: #f7e96f !important;*/
	min-height: 25px !important;
	border: 0px;
	outline:0px;

}

tr {
	/*background-color: #f7e96f !important;*/

}