 th, td, table, .num{
  border: 1px solid black;
  border-collapse: collapse;
}



tr {
	height:25px;
}

td {
	text-align: center;
	width:50px;
}

.numEnt {
	width:50px;
}

.select {
	width:75px;
	padding:0px;
}

.num {
	width:50px;
	min-width:25px;
}

.calcButt, .savButt {
	position: absolute; 
	right: 150px;
}