
.container {
	width:50%;
}


input {
	display: block !important; 
	padding: 0 !important; 
	margin: 0 !important; 
	width: 100% !important; 
	height: 100% !important;
	border-radius: 0 !important; 
	line-height: 1 !important;
	min-height: 25px;
}


td {
	margin: 0 !important; 
	padding: 0 !important;
	min-height: 25px;
}

#delButt {
	display: block !important; 
	padding: 0 !important; 
	margin: 0 !important; 
	width: 100% !important; 
	border-radius: 0 !important; 
	line-height: 1 !important;
	min-height: 25px;
}

.table {
	min-width: 570px;
}

.container {
	margin-left: 10px;
}