
.container {
	max-width: 768px;
	/*min-width:400px;*/
}


.form-control-custom {
	display: block ; 
	padding: 0 ; 
	margin: 0 ; 
	width: 100% ; 
	height: 100% ;
	border-radius: 0 ; 
	line-height: 1 ;
	min-height: 25px;
	/*border-color: blue !important;
	/*background-color: #f7e96f !important;*/
	border: 0;
	outline:0px;
	-webkit-appearance: none;
	text-align: center;
	padding: 1px;
}


td {
	margin: 0 !important; 
	padding: 0 !important;
	height: 25px;
	/*border: 0 !important;*/
	/*border-color: black !important;*/
}

.delButtClass {
	/*display: inline-block; */
	padding: 2px; 
	margin: 1 auto ; 
	/*width: 50% ;*/ 
	border-radius: 0 ; 
	line-height: 1 ;
	min-height: 25px;
	text-color: red;
	
}

#moveButt{
	padding: 2px; 
	margin: 1 auto ; 
	width: 35% ; 
	border-radius: 0 ; 
	line-height: 1 ;
	min-height: 25px;
	text-color: blue;

}
.table {
	max-width: 768px;
	min-width: 450px;
	border-collapse: collapse;
	border-color: black !important;
	border-width: 0.5px;
	margin-bottom: 5px;
	
}

.container {
	margin-left: 10px;
	margin-right: 10px;

}

th, td {
	text-align: center;
	padding: 1px;
	/*border-color: black !important;*/
}

th {
	padding: 1px !important;
	background-color: #d1d0c8;
}

.numEnt {
	max-width: 60px;
	min-width: 50px;
	
}



#buttText {
	color: red;
}
#movebuttText {
	color: red;
}

#buttonBar {
	padding: 0px;
}



select {
	/*background-color: #f7e96f !important;*/
	min-height: 23px !important;
	border: 0px;
	outline:0px;

}

tr {
	/*background-color: #f7e96f !important;*/

}

.custom-select {
	max-width: 200px;
	margin: 1px;

}

#custom-input {
	max-width: 300px;
	min-height: 23px ;
	padding: 6px ;
	/*border-color: black !important;
	border: 5px !important;*/
}

.units {
	background-color: #d1d0c8;
	text-align: right;
	padding-right: 0px;
}

#saveInput {
 min-width: 275px;
}


#buttonBar {
	padding: 0px !important;
}



